<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jaxws="http://cxf.apache.org/jaxws" xmlns:jaxrs="http://cxf.apache.org/jaxrs" xmlns:tx="http://www.springframework.org/schema/tx" xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="  
       http://www.springframework.org/schema/beans  
       http://www.springframework.org/schema/beans/spring-beans.xsd  
       http://www.springframework.org/schema/context  
       http://www.springframework.org/schema/context/spring-context.xsd  
       http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd
       http://www.springframework.org/schema/aop 
       http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
       http://www.springframework.org/schema/tx
       http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
       http://cxf.apache.org/jaxrs
       http://cxf.apache.org/schemas/jaxrs.xsd">

	<!-- 隐式地向Spring容器注册了注解处理器 -->
	<context:annotation-config />
	<context:component-scan base-package="com.hzmc.nbgsyn.business" />
	<context:component-scan base-package="com.hzmc.nbgsyn.service" />
	<context:component-scan base-package="com.hzmc.nbgsyn.webservice" />


	<bean class="org.springframework.web.context.support.ServletContextPropertyPlaceholderConfigurer" />
	<bean class="org.springframework.beans.factory.config.PreferencesPlaceholderConfigurer" />

	<!-- CXF Web Service -->
	<import resource="classpath:META-INF/cxf/cxf.xml" />
	<import resource="classpath:META-INF/cxf/cxf-extension-http.xml" />
	<import resource="classpath:META-INF/cxf/cxf-extension-soap.xml" />
	<import resource="classpath:META-INF/cxf/cxf-servlet.xml" />

	<bean id="mdmOutService" class="com.hzmc.nbgsyn.webservice.impl.MdmOutServiceImpl" />
	<jaxws:endpoint id="MdmOutService" address="/MDMOUTSERVICE" implementor="#mdmOutService" />

	<bean id="userServiceImpl" class="com.hzmc.nbgsyn.webservice.impl.MdmSendServiceImpl"/>
	<jaxrs:server id="mdmSendService" address="/mdmSendService">
		<jaxrs:serviceBeans>
			<ref bean="userServiceImpl" />
		</jaxrs:serviceBeans>
	</jaxrs:server>

	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="oracle.jdbc.driver.OracleDriver" />
		<property name="url" value="jdbc:oracle:thin:@10.168.2.2:1521:mbdb" />
		<property name="username" value="mdm_cm_master" />
		<property name="password" value="123456" />
		<property name="maxActive" value="100"></property>
		<property name="maxIdle" value="30"></property>
		<property name="minIdle" value="5"></property>
		<property name="maxWait" value="5000"></property>
		<property name="removeAbandoned" value="true"></property>
		<property name="removeAbandonedTimeout" value="3000"></property>
	</bean>

	<bean id="sqlMapClient" class="org.springframework.orm.ibatis.SqlMapClientFactoryBean">
		<property name="configLocation">
			<value>classpath:sqlMapConfig.xml</value>
		</property>
		<property name="dataSource" ref="dataSource" />
	</bean>

	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<tx:advice id="txAdvice" transaction-manager="transactionManager">
		<tx:attributes>
			<tx:method name="save*" propagation="REQUIRED" />
			<tx:method name="remove*" propagation="REQUIRED" />
			<tx:method name="modify*" propagation="REQUIRED" />
		</tx:attributes>
	</tx:advice>

	<aop:config>
		<aop:pointcut id="txServiceMethod" expression="execution(* com.hzmc.nbgsyn.business.*.*(..))" />
		<aop:advisor pointcut-ref="txServiceMethod" advice-ref="txAdvice" />
	</aop:config>

</beans>  